* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

body::before {
  content: "";
  background-color: #535971;
  height: 436px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.page {
  margin: auto;
  width: 750px;
}

header {
  margin-top: 140px;
  width: 417px;
}

header h1 {
  color: #ffffff;
  font-family: "Staatliches", cursive;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 18px;
}

header p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  gap: 30px;
  margin-top: 58px;
  min-height: 300px;
  padding: 64px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

fieldset legend {
  border-bottom: 1px solid #e6e6f0;
  color: #535971;
  font-family: "Staatliches", cursive;
  font-size: 24px;
  line-height: 34px;
  padding-bottom: 16px;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  color: #4e4858;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-wrapper label span {
  color: #c1bccc;
  font-size: 12px;
  line-height: 20px;
  margin-left: 12px;
}

.input-wrapper label span:hover {
  color: #7b67a7;
}

.input-wrapper input {
  background-color: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  font-size: 16px;
  height: 56px;
  line-height: 26px;
  padding: 0 24px;
}

.fieldset-wrapper-hour p {
  display: flex;
  flex-direction: column;
  margin: 32px 0 8px 0;
}

.col-3 {
  display: flex;
  gap: 32px;
}

.col-3 > div:nth-child(1) {
  width: 100%;
}

p {
  color: #535971;
  font-family: "Staatliches", cursive;
  font-size: 20px;
  line-height: 34px;
  width: 100%;
}

footer {
  background-color: #535971;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  height: 160px;
  margin-bottom: 100px;
  padding: 52px 71px;
}

footer .button {
  background-color: #ff5374;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Staatliches", cursive;
  font-size: 20px;
  line-height: 26px;
  height: 56px;
}

footer .button:hover {
  background-color: #922e42;
}

input:invalid {
  border: 1px solid #ff5374;
}
